# Audio and Media outputs
*.mp3
*.m4a
*.mp4
*.jpg
*.webp
temp_*
downloads/

# Python cache
__pycache__/
*.pyc

# OS files
Thumbs.db
.DS_Store

plan.md
.cache/
config.json
history.json

bin/
*.exe
*.build/
*.dist/
*.onefile-build/

nuitka_build_cli.bat
nuitka_build.bat
dist_installer/

installer_setup.iss